@model TextMatch.Models.TextMatcher
@{
    ViewData["Title"] = "TextMatch - Enter text to match.";
}

@using(Html.BeginForm("Match", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Text)
        @Html.TextAreaFor(model => model.Text, new { @class = "form-control", rows = 4 })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Subtext)
        @Html.TextAreaFor(model => model.Subtext, new { @class = "form-control" })
    </div>
    <input type="submit" value="Find Matches!" class="btn btn-default form-control" />
}