@model TextMatch.Models.TextMatcher
@{
    ViewData["Title"] = "TextMatch - Matches";
}

<div class="form-group">
    @Html.LabelFor(model => model.Text)
    <p>@Model.Text</p>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Subtext)
    <p>@Model.Subtext</p>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Matches)
    <p>@Model.Matches</p>
</div>
@Html.ActionLink("Try again with some new text.", "index")